@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Serif", serif;
    list-style: none;
    text-decoration: none;

}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: #122f3d;
    color: #fff;
    font-weight: 200;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}